<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Review of python types, lists, and dictionaries

_Author: Kiefer Katovich (SF)_

---

In [557]:
# Enter Student names here:
student_names = ["Jasmine", "Theodore", "Caven", "Kelvin", "Pei En", "Ben", "Bernard", "Chenghan", "Hafsa", "Kenny", "Luther", "Noel"]

---

### 1. What are the types of the following variables?

In [558]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [559]:
# A:
# a: integer
# b: float
# c: list
# d: dictionary
# e: tuple
# f: dictionary (of dictionaries) -- nested dictionary
# g: boolean
# h: boolean
# i: string

---

### 2. What is the difference between a "mutable" and "immutable" object?

In [560]:
# A:
# A "mutable" object can be modified after it's created (changeable), while an "immutable" object cannot be modified after it's created (unchangeable). Examples of mutable objects include lists and dictionaries, and examples of immutable objects include integers, floats, strings and tuples.

---

### 3. Print the `student_names` list.

In [561]:
# A:
print(student_names)

['Jasmine', 'Theodore', 'Caven', 'Kelvin', 'Pei En', 'Ben', 'Bernard', 'Chenghan', 'Hafsa', 'Kenny', 'Luther', 'Noel']

---

### 4. Print the names of the first and last students in the list.

In [562]:
# A:
print(student_names[0])
print(student_names[-1])

Jasmine
Noel

---

### 5. Print the first five names in the student list.

In [563]:
# A:
print(student_names[0:5])

['Jasmine', 'Theodore', 'Caven', 'Kelvin', 'Pei En']

---

### 6. Combine the ninth and tenth student names into a single string, separated by a space.  Assign that string to a variable.

In [564]:
# A:
ninth_and_tenth_students = student_names[8] + " " + student_names[9]

# check:
print(ninth_and_tenth_students )

Hafsa Kenny

---

### 7. Append an animal to the list of animals.

In [565]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [566]:
# A:
animals.append('dog')

# check:
print(animals)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'dog']

---

### 8. Print the length of the animals list.

In [567]:
# A:
len(animals)

7

---

### 9. Divide the length of the fifth animal by the second.

In [568]:
# A:
len(animals[4]) /  len(animals[1])

2

---

### 10. Perform the same division, but ensure output is a decimal number.

In [569]:
# A:
float(len(animals[4])) /  float(len(animals[1]))

2.3333333333333335

---

### 11. Show two different ways to combine the animals list and the numbers list.

In [570]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [571]:
# A:
new_list_1 = animals + numbers
new_list_2 = animals
new_list_2.extend(numbers)

# check:
print(new_list_1)
print(new_list_2)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'dog', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]
['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'dog', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]

---

### 12. Remove 'kiefer' from the list and insert your own in its place.

In [572]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [573]:
# A:
names.remove('kiefer')
names.insert(2,'jasmine')

# check:
print(names)

['doug', 'billy', 'jasmine', 'kian', 'sam']

---

### 13. Sort the following list.

In [574]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [575]:
# A:
mix.sort()

# check:
print(mix)

[12, 12.999, {'key': 'value'}, ['billy', 'sam'], 'a', 'flower', (1, 2, 3)]

---

### 14. Manually check whether one element of `mix` is greater than another.

In [576]:
# A:
12.999 > 12

True

---

### 15. Find the index of `'a'` in the list.

In [577]:
# A:
mix.index('a')

4

---

### 16. Reverse the `mix` list.

In [578]:
# A:
mix.reverse()

# check:
print(mix)

[(1, 2, 3), 'flower', 'a', ['billy', 'sam'], {'key': 'value'}, 12.999, 12]

---

### 17. Remove the last element of `mix`,  and assign it to a variable.

In [579]:
# A:
last_element_of_mix = mix.pop(-1)

# check:
print(last_element_of_mix)

12

---

### 18. Count the number of times `0` appears in the following list.

In [580]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [581]:
# A:
num_of_zeros = 0
for each_num in binary:
    if each_num == 0:
        num_of_zeros += 1

# check:
print(num_of_zeros)

16

---

### 19. Create an SF (San Francisco) zipcode dictionary.

With the following key:value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [582]:
# A:
sf_zipcodes = {
    'sunset':94122,
    'presidio':94129,
    'soma':94105,
    'marina':94123
}

---

### 20. Get the zipcode for `'soma'`, and assign it to a variable.

In [583]:
# A:
soma_zipcode = sf_zipcodes['soma']

# check:
print(soma_zipcode)

94105

---

### 21. Get the keys out of the dictionary.

In [584]:
# A:
sf_zipcodes.keys()

['soma', 'presidio', 'sunset', 'marina']

---

### 22. Get the key:value pairs out of the dictionary as a list of tuples.

In [585]:
# A:
sf_zipcodes.items()

[('soma', 94105), ('presidio', 94129), ('sunset', 94122), ('marina', 94123)]

---

### 23. Add the castro district to the dictionary with zipcode 94114.

In [586]:
# A:
sf_zipcodes['castro'] = 94114

# check:
print(sf_zipcodes)

{'soma': 94105, 'presidio': 94129, 'sunset': 94122, 'castro': 94114, 'marina': 94123}

---

### 24. Combine the following smaller dictionary of districts with the SF zip codedictionary.

In [587]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [588]:
# A:
sf_zipcodes.update(small)

# check:
print(sf_zipcodes)

{'marina': 94123, 'dogpatch': 94107, 'sunset': 94122, 'soma': 94105, 'presidio': 94129, 'outer_richmond': 94121, 'castro': 94114}

---

### 25. Remove the '`sunset`' zipcode, and assign it to a variable.

In [589]:
# A:
sunset_zipcode = sf_zipcodes.pop('sunset', None)

# check:
print(sunset_zipcode)

94122

---

### 26. Check if the 'dogpatch' is in the dictionary.

In [590]:
# A:
'dogpatch' in sf_zipcodes

True